Gary/FormFlow Demo/utility-support-bot/utility-support-bot/Service References/OutageServiceReference/outageservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SearchOutagesByPostcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mobile" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="plannedOutages" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchOutagesByPostcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchOutagesByPostcodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchOutagesByLatLong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="plannedOutages" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchOutagesByLatLongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchOutagesByLatLongResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchOutagesByLatLongMobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="plannedOutages" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchOutagesByLatLongMobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchOutagesByLatLongMobileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchOutagesByPostcodeMobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="plannedOutages" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchOutagesByPostcodeMobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchOutagesByPostcodeMobileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutageInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="current" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="planned" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="future" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOutageInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOutageInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchOutagesByPostcodeSoapIn">
    <wsdl:part name="parameters" element="tns:SearchOutagesByPostcode" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByPostcodeSoapOut">
    <wsdl:part name="parameters" element="tns:SearchOutagesByPostcodeResponse" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongSoapIn">
    <wsdl:part name="parameters" element="tns:SearchOutagesByLatLong" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongSoapOut">
    <wsdl:part name="parameters" element="tns:SearchOutagesByLatLongResponse" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongMobileSoapIn">
    <wsdl:part name="parameters" element="tns:SearchOutagesByLatLongMobile" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongMobileSoapOut">
    <wsdl:part name="parameters" element="tns:SearchOutagesByLatLongMobileResponse" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByPostcodeMobileSoapIn">
    <wsdl:part name="parameters" element="tns:SearchOutagesByPostcodeMobile" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByPostcodeMobileSoapOut">
    <wsdl:part name="parameters" element="tns:SearchOutagesByPostcodeMobileResponse" />
  </wsdl:message>
  <wsdl:message name="GetOutageInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutageInformation" />
  </wsdl:message>
  <wsdl:message name="GetOutageInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutageInformationResponse" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByPostcodeHttpGetIn">
    <wsdl:part name="postcode" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="plannedOutages" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByPostcodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongHttpGetIn">
    <wsdl:part name="latitude" type="s:string" />
    <wsdl:part name="longitude" type="s:string" />
    <wsdl:part name="plannedOutages" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongMobileHttpGetIn">
    <wsdl:part name="latitude" type="s:string" />
    <wsdl:part name="longitude" type="s:string" />
    <wsdl:part name="plannedOutages" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongMobileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByPostcodeMobileHttpGetIn">
    <wsdl:part name="postcode" type="s:string" />
    <wsdl:part name="plannedOutages" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByPostcodeMobileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetOutageInformationHttpGetIn">
    <wsdl:part name="current" type="s:string" />
    <wsdl:part name="planned" type="s:string" />
    <wsdl:part name="future" type="s:string" />
    <wsdl:part name="Page" type="s:string" />
    <wsdl:part name="PageSize" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOutageInformationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByPostcodeHttpPostIn">
    <wsdl:part name="postcode" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="plannedOutages" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByPostcodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongHttpPostIn">
    <wsdl:part name="latitude" type="s:string" />
    <wsdl:part name="longitude" type="s:string" />
    <wsdl:part name="plannedOutages" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongMobileHttpPostIn">
    <wsdl:part name="latitude" type="s:string" />
    <wsdl:part name="longitude" type="s:string" />
    <wsdl:part name="plannedOutages" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByLatLongMobileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByPostcodeMobileHttpPostIn">
    <wsdl:part name="postcode" type="s:string" />
    <wsdl:part name="plannedOutages" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchOutagesByPostcodeMobileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetOutageInformationHttpPostIn">
    <wsdl:part name="current" type="s:string" />
    <wsdl:part name="planned" type="s:string" />
    <wsdl:part name="future" type="s:string" />
    <wsdl:part name="Page" type="s:string" />
    <wsdl:part name="PageSize" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOutageInformationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="OutageServiceSoap">
    <wsdl:operation name="SearchOutagesByPostcode">
      <wsdl:input message="tns:SearchOutagesByPostcodeSoapIn" />
      <wsdl:output message="tns:SearchOutagesByPostcodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLong">
      <wsdl:input message="tns:SearchOutagesByLatLongSoapIn" />
      <wsdl:output message="tns:SearchOutagesByLatLongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLongMobile">
      <wsdl:input message="tns:SearchOutagesByLatLongMobileSoapIn" />
      <wsdl:output message="tns:SearchOutagesByLatLongMobileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByPostcodeMobile">
      <wsdl:input message="tns:SearchOutagesByPostcodeMobileSoapIn" />
      <wsdl:output message="tns:SearchOutagesByPostcodeMobileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutageInformation">
      <wsdl:input message="tns:GetOutageInformationSoapIn" />
      <wsdl:output message="tns:GetOutageInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OutageServiceHttpGet">
    <wsdl:operation name="SearchOutagesByPostcode">
      <wsdl:input message="tns:SearchOutagesByPostcodeHttpGetIn" />
      <wsdl:output message="tns:SearchOutagesByPostcodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLong">
      <wsdl:input message="tns:SearchOutagesByLatLongHttpGetIn" />
      <wsdl:output message="tns:SearchOutagesByLatLongHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLongMobile">
      <wsdl:input message="tns:SearchOutagesByLatLongMobileHttpGetIn" />
      <wsdl:output message="tns:SearchOutagesByLatLongMobileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByPostcodeMobile">
      <wsdl:input message="tns:SearchOutagesByPostcodeMobileHttpGetIn" />
      <wsdl:output message="tns:SearchOutagesByPostcodeMobileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutageInformation">
      <wsdl:input message="tns:GetOutageInformationHttpGetIn" />
      <wsdl:output message="tns:GetOutageInformationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OutageServiceHttpPost">
    <wsdl:operation name="SearchOutagesByPostcode">
      <wsdl:input message="tns:SearchOutagesByPostcodeHttpPostIn" />
      <wsdl:output message="tns:SearchOutagesByPostcodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLong">
      <wsdl:input message="tns:SearchOutagesByLatLongHttpPostIn" />
      <wsdl:output message="tns:SearchOutagesByLatLongHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLongMobile">
      <wsdl:input message="tns:SearchOutagesByLatLongMobileHttpPostIn" />
      <wsdl:output message="tns:SearchOutagesByLatLongMobileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByPostcodeMobile">
      <wsdl:input message="tns:SearchOutagesByPostcodeMobileHttpPostIn" />
      <wsdl:output message="tns:SearchOutagesByPostcodeMobileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOutageInformation">
      <wsdl:input message="tns:GetOutageInformationHttpPostIn" />
      <wsdl:output message="tns:GetOutageInformationHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OutageServiceSoap" type="tns:OutageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchOutagesByPostcode">
      <soap:operation soapAction="http://tempuri.org/SearchOutagesByPostcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLong">
      <soap:operation soapAction="http://tempuri.org/SearchOutagesByLatLong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLongMobile">
      <soap:operation soapAction="http://tempuri.org/SearchOutagesByLatLongMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByPostcodeMobile">
      <soap:operation soapAction="http://tempuri.org/SearchOutagesByPostcodeMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutageInformation">
      <soap:operation soapAction="http://tempuri.org/GetOutageInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OutageServiceSoap12" type="tns:OutageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchOutagesByPostcode">
      <soap12:operation soapAction="http://tempuri.org/SearchOutagesByPostcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLong">
      <soap12:operation soapAction="http://tempuri.org/SearchOutagesByLatLong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLongMobile">
      <soap12:operation soapAction="http://tempuri.org/SearchOutagesByLatLongMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByPostcodeMobile">
      <soap12:operation soapAction="http://tempuri.org/SearchOutagesByPostcodeMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutageInformation">
      <soap12:operation soapAction="http://tempuri.org/GetOutageInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OutageServiceHttpGet" type="tns:OutageServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SearchOutagesByPostcode">
      <http:operation location="/SearchOutagesByPostcode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLong">
      <http:operation location="/SearchOutagesByLatLong" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLongMobile">
      <http:operation location="/SearchOutagesByLatLongMobile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByPostcodeMobile">
      <http:operation location="/SearchOutagesByPostcodeMobile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutageInformation">
      <http:operation location="/GetOutageInformation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OutageServiceHttpPost" type="tns:OutageServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SearchOutagesByPostcode">
      <http:operation location="/SearchOutagesByPostcode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLong">
      <http:operation location="/SearchOutagesByLatLong" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByLatLongMobile">
      <http:operation location="/SearchOutagesByLatLongMobile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOutagesByPostcodeMobile">
      <http:operation location="/SearchOutagesByPostcodeMobile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutageInformation">
      <http:operation location="/GetOutageInformation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutageService">
    <wsdl:port name="OutageServiceSoap" binding="tns:OutageServiceSoap">
      <soap:address location="http://www.enwl.co.uk/services/outageservice.asmx" />
    </wsdl:port>
    <wsdl:port name="OutageServiceSoap12" binding="tns:OutageServiceSoap12">
      <soap12:address location="http://www.enwl.co.uk/services/outageservice.asmx" />
    </wsdl:port>
    <wsdl:port name="OutageServiceHttpGet" binding="tns:OutageServiceHttpGet">
      <http:address location="http://www.enwl.co.uk/services/outageservice.asmx" />
    </wsdl:port>
    <wsdl:port name="OutageServiceHttpPost" binding="tns:OutageServiceHttpPost">
      <http:address location="http://www.enwl.co.uk/services/outageservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>